@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --bg-color: #24282f;
  --bg-close-btn: #3c3e44;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--bg-color);
}

header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  min-height: 20vh;
}

header img {
  width: 30rem;
}

.container {
  min-height: 80vh;
  padding: 0 2rem 4rem;
}

.container .form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem 2rem 2rem;
}

.container .form input {
  padding: 0.75rem 1rem;
  width: 350px;
  border-radius: 4px;
  outline: none;
  border: none;
}

.container .characters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container .characters .character {
  height: 200px;
  width: 200px;
  position: relative;
  cursor: pointer;
  margin: 1.5rem;
  border: 4px solid #55cc44;
  border-radius: 2px;
}

.container .characters .character:hover {
  transform: scale(1.03);
  transition: 0.3s ease transform;
}

.container .characters .character img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .characters .character .character-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
}

.container .characters .character .character-info:hover {
  opacity: 1;
  transition: 0.3s ease all;
}

.container .cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.container .cta button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #55cc44;
  color: #fff;
  font-weight: 500;
  font-size: 1.15rem;
  border-radius: 3px;
  padding: 0.25rem 1rem;
}

.container .cta .prev {
  margin-right: 2rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  overflow: auto;
  overflow-x: hidden;
}

.modal .closeBtn {
  position: absolute;
  top: 25px;
  left: 30px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: var(--bg-close-btn);
  border: none;
  outline: none;
  color: #fff;
  padding: 0 1rem;
  border-radius: 4px;
  opacity: 0.9;
}

.modal .closeBtn i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.modal .singleCharacter {
  background-color: var(--bg-color);
  color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.modal .singleCharacter .modal-left img {
  width: 275px;
  border-radius: 50%;
  border: 4px solid #55cc44;
}

.modal .singleCharacter .modal-right h2 {
  font-size: 2rem;
  border-bottom: 2px solid #fff;
  padding-bottom: 0.4rem;
}

.modal .singleCharacter .modal-right ul {
  padding: 0;
}

.modal .singleCharacter .modal-right ul li {
  list-style-type: none;
  padding-bottom: 0.4rem;
  opacity: 0.8;
}

.modal .singleCharacter .modal-right ul li strong {
  font-weight: 500;
  opacity: 1;
}

@media (max-width: 600px) {
  header img {
    width: 100%;
  }

  .container .form input {
    width: 100%;
  }

  .modal .singleCharacter {
    padding: 0 1rem;
  }

  .modal .singleCharacter .modal-left img {
    display: flex;
    width: 70%;
  }
}
